body{
    background: #f9f2f4;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover, a:focus {
    color : #ffffff;
    text-decoration: none;
}

.download{
    text-decoration: none;
    color: #000088;
}

.download:hover{
    text-decoration: none;
    color: #0000FF;
}
