.navbar-inverse {
    background-color: #76276C;
    border-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f3f3f3;
}

.navbar-inverse .navbar-brand {
    color: #f3f3f3;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3A055D;
}