/* Test Page */
body{
    background: #f9f2f4;
}

.axis path,

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.lineAxeYitems,
.axesTimeLine,
.lineAxeX{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.timeline{
    background: #ffffff;
    border: 1px solid #97B0F8;
}

.timeline .lineAxes{
    stroke: black;
}

.zoneTime {
    fill: #D5DDF6;
}
.zoneCategories{
    fill: #D5DDF6;
}

.textCategories{
    fill: black;
}


.bar{
    fill: green;
}

.item{
    stroke: steelblue;
    stroke-width: 3px;
    /*fill: #ffffff;*/
    cursor: pointer;
}

.dataLine line{
    stroke: #cccccc;
    stroke-width: 2;
}

text {
    fill: black;
}

rect.zoneCategorie{
    cursor: pointer;
}

.lineAxeY{
    stroke: none !important;
}

.zoneTimeLine{
    cursor:pointer;
}

.lineDivCate{
    stroke: #cccccc !important;
    fill-opacity: 0.5;
    stroke-width: 1;
}

/*Borrar despues*/
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover, a:focus {
    color : #ffffff;
    text-decoration: none;
}