/* Test Page */
body{
    background: #f9f2f4;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.timeline{
    background: #ffffff;
    border: 1px solid #97B0F8;
}

.timeline .lineAxes{
    stroke: black;
}

.zoneTime {
    fill: #D5DDF6;
}
.zoneCategories{
    fill: #D5DDF6;
}


.bar{
    fill: green;
}

.item{
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}