/* Test Page */
body{
    background: #f9f2f4;
}
/* Verification line Axe Time*/
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axesTimeLine,
.lineAxeX{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.timeline{
    background: #ffffff;
    border: 1px solid #97B0F8;
}

.timeline .lineAxes{
    stroke: black;
}

.zoneTime {
    fill: #D5DDF6;
}

.infoZoneTime{
    fill: wheat;
}

.zoneCategories{
    fill: #D5DDF6;
}


.bar{
    fill: green;
}

.item{
    stroke: steelblue;
    stroke-width: 3px;
    fill: #ffffff;
    cursor: pointer;
}

.link{
    stroke: #cccccc;
    stroke-width: 4;
    cursor: pointer;
}

.zoneTimeLine{
    cursor:pointer;
}

.lineActualTime{
    fill: none;
    stroke: red;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.linePositionTime{
    fill: none;
    stroke: green;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.circlePositionTime{
    /*
    stroke: steelblue;
    stroke-width: 3px;*/
    fill: green;
}

.tooltip{
    position: absolute;
    text-align: center;
    min-width: 60px;
    min-height: 30px;
    background: lightsteelblue;
    border: 1px solid black;
    border-radius: 4px;
    pointer-events: none;
}

.textTool {
    padding: 5px;
    font: 12px sans-serif;
    text-align: center;
    margin: 2px;
}

.tooltipDate{
    position: absolute;
    text-align: center;
    min-width: 60px;
    min-height: 30px;
    background: #f7f7f7;
    border: 1px solid black;
    border-radius: 4px;
    pointer-events: none;
}

.dateTool{
    padding: 5px;
    font: 12px sans-serif;
    text-align: center;
    margin: 2px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover, a:focus {
    color : #ffffff;
    text-decoration: none;
}
