/* Test Page */
body{
    background: #f9f2f4;
}

.axis path,

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.lineAxeYitems,
.axesTimeLine,
.lineAxeX{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.timeline{
    background: #ffffff;
    border: 1px solid #97B0F8;
}

.timeline .lineAxes{
    stroke: black;
}

.zoneTime {
    fill: #D5DDF6;
}

.infoZoneTime{
    fill: wheat;
}

.rectCategories{
    fill: #D5DDF6;
}

.textCategories{
    fill: black;
}


.bar{
    fill: green;
}

.item{
    stroke: steelblue;
    stroke-width: 3px;
    /*fill: #ffffff;*/
    cursor: pointer;
}

.itemLine{
    stroke: #cccccc;
    stroke-width: 2;
}

text {
    fill: black;
}

.tickCategorie{
    cursor: pointer;
}

.lineAxeY{
    stroke: none !important;
}

.zoneTimeLine{
    cursor:pointer;
}

.lineDivCate{
    stroke: #cccccc !important;
    fill-opacity: 0.5;
    stroke-width: 1;
}

.lineYaxi {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*Borrar despues*/
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover, a:focus {
    color : #ffffff;
    text-decoration: none;
}

.y.axis g#3{
    stroke: red;
    fill: green;
}

.lineActualTime{
    fill: none;
    stroke: red;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.linePositionTime{
    fill: none;
    stroke: green;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.circlePositionTime{
    /*
    stroke: steelblue;
    stroke-width: 3px;*/
    fill: green;
}

.tooltip{
    position: absolute;
    text-align: center;
    min-width: 60px;
    min-height: 30px;
    background: lightsteelblue;
    border: 1px solid black;
    border-radius: 4px;
    pointer-events: none;
}

.textTool {
    padding: 5px;
    font: 12px sans-serif;
    text-align: center;
    margin: 2px;
}